/*CONTENT*/

div#about{  /*about*/
    clear:left;
	display: block;
	text-align: center;
	margin-top: 30px;
	width: 100%;
	color: coral;
}

div#about p{
	padding-left: 15%;
	width: 70%;
	text-align: center;
}

.dropbtn {  /*Dropdown menu*/
	background-color: coral;
	color: white;
	padding: 8px;
	/*font-size: 16px;*/
	border: none;
	cursor: pointer;
	font-size: 14px;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width:80px;
	margin: auto;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: coral;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	/*padding: 12px 16px;*/
	text-decoration: none;
	padding: 8px;
	font-size: 14px;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: purple;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: coral;
}

ul#categories{
	display: none;
}

@media all and  (min-width: 1050px){ /*switch to mobile view for width < 1050px*/
	/*CONTENT STYLE */
	div#content{
		clear: left;
		display: block;
	}

	ul#categories{ /*Lays out categories in an evenly spaced grid of 5 columns */
		clear: left;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px;
		margin: auto;
	}


	ul#categories li a{

		display: block;
		text-decoration: none;
		background-color: coral;
		color: white;
		text-align: center;
		margin-top: 10%;

	}

	ul#categories li a:hover{
		background-color: orange;
	}

	div.dropdown{   /*Hides dropdown menu for screens > 1050px */
		display:none;
	}

	div#content img{
		float:left;
	}
}