/*CONTENT CODE*/

div.poem { /*poem is displayed here*/
	clear:left;
	width: 100%;
	display: block;
	background-color: black;
	font-family: cursive;
}


div.poem h2.poem-title {
	padding-top: 30px;
	color: coral;
	text-align: center;
}

div.poem p.meta{
	text-align: center;
	color:deepskyblue;
	font-size: smaller;
}


div.poem p.poem-description {
	color: coral;
	text-align: center;
}

div#suggestions h2.user-suggestions { /*user suggestions display*/
	width: 100%;
	text-align: center;
	color: coral;
}
div.suggestion { /*option to add suggestion given to users*/
	width: 50%;
	margin-left: 25%;
	text-align: center;
	color: coral;
	background-color: antiquewhite;
}

form input.post{
	clear:left;
	margin: auto;
	display: block;
	margin-bottom: 5px;
}
@media all and  (min-width: 1050px) {
	/*CONTENT STYLE */
	div#content {
		clear: left;
	}

	div.poem {
		float:left;
		width: 30%;
	}

	div.poem h2.poem-title {
		padding-top: 0px;
	}

	div#suggestions{
		float: left;
		width:40%;
	}
	div#suggestions p.msg{
		color: green;
		text-align: center;
		padding-left: 5px;
		font-size:medium;
	}
}
