/*CONTENT*/

div#search-results{  /*about*/
	display: block;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	color: coral;
}

p.results{
	/*display: block;*/
	text-align: center;
	width: 100%;
	color: coral;
	font-size: x-large;
}
