/*CONTENT CODE*/

div#content {
	clear: left;
	display: block;
}

div#content h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: coral;
}


div#all-poems { /*displays all poems in given style*/
	clear: left;
	width: 50%;
	margin-left: 25%;
	font-family: cursive;

}


div.poem div.votes{ /*hides number of votes for mobile view*/
	display: none;
}

div.poem div.votes .upvote-success{
	float: left;
	color: green;
	font-size: small;
}

div.poem {  /*list of poems displayed */
	border-bottom: 1px solid #ccc;
	background-color: black;

}

div.poem h3.poem-title {
	padding-left: 5px;

	color: coral;
	text-align: left;
}

div.poem p.poem-description {
	color: coral;
	text-align: left;
	padding-left: 5px;

}

div.poem:hover {
	background-color: antiquewhite;
}

div.poem p.msg{
	color: black;
	text-align: left;
	padding-left: 5px;
	font-size:medium;

}
@media all and  (min-width: 1050px) {
	/*CONTENT STYLE */

	div.poem div.votes { /*Number of votes are made visible to screens > 1050px*/
		clear: left;
		display: block;
		font-size: x-large;
		color: coral;
	}

	div.poem p.poem-description {
		clear: left;
	}
}