/*CONTENT CODE*/

div#content{
	clear: left;
}

div#content h2{
	color: coral;
	width: 100%;
	text-align: center;
	margin-top:  100px;
}

div#content img{ /*image hidden from users with screens < 1050px*/
	display: none;
}


form#new-post{
	clear: left;
	color: coral;
	width: 100%;
	text-align: center;
	padding: 5px;
}


input#title-text, input#first-line-text{ /*user input options*/
	margin: auto;
	display: block;
	margin-bottom: 10px;
	width: 300px;
}


.dropbtn {  /*drop down button for categories*/
	background-color: coral;
	color: white;
	padding: 8px;
	/*font-size: 16px;*/
	width: 110px;
	cursor: pointer;
	font-size: 14px;
    margin-left: 45.7%;
}

.submit-buttons{
    clear: left;
	width: 120px;
	margin: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    clear: left;
	display: block;
	width:100%;
    margin: auto;
}

.dropdown-content{
	clear: left;
	margin-left: 40%;
    margin-bottom: 10px;
}

/*!* Dropdown Content (Hidden by Default) *!*/
/*.dropdown-content {*/
/*	clear: left;*/
/*	display: none;*/
/*	position: absolute;*/
/*	background-color: coral;*/
/*}*/

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	text-decoration: none;
	padding: 8px;
	font-size: 14px;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: purple;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: coral;
} /*end of drop down button*/

@media all and  (min-width: 1050px) {
	/*CONTENT STYLE */


	div#content h2{
		margin-top: 0;
	}

	div#content img{
		display: block;
		max-width: 20%;
		margin: auto;
		padding-bottom: 15px;
	}

	.dropdown-content{
		clear: left;
		margin-left: 47%;
		margin-bottom: 10px;
	}

	input#title-text, input#first-line-text{
		width: 10%;
		margin-bottom: 1%;
	}

	form#suggest [type= "submit"]{
		width: 10%;
		margin-top: 1%;
	}
}