{% extends "blog/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-home.css"%}">
{% endblock %}

{% block nav-home %}<a href="{% url "blog:home_page_index" %}" class = "selected">Home</a>{% endblock %}

{% block content %}
<div id = "content"> <!-- main content of the page -->
            <div id = "about"> <!-- info about website -->
                <h2> About </h2>
                <p> Collaborative or collective poetry is an alternative and creative technique for writing poetry by more than one person.
                    The principal aim of collaborative poetry is to create poems with multiple collaborations from various authors.
                    In a common example of collaborative poetry, there may be numerous authors working in conjunction with one another to try to form a unified voice that can still maintain their individual voices.</p> <!-- source: wikipedia -->
                <p>
                    Tapestry is a social platform allowing for multiple users to generate collaborative poetry, belonging to different categories.
                    Users can start a new poem with a title and a single line, or suggest a single line to be appended to existing poems.
                    Other users can view existing suggestions for the next line of a poem, and upvote or downvote these suggestions.
                    At the end of 24 hours, the line suggestion with the most upvotes gets appended to the poem.
                </p>
            </div>

            <ul id = "categories"> <!-- categories of poems -->
                {% for category in categories %}
                    <li><a href="{% url 'blog:post_list' %}">{{ category }}</a></li>
                {% endfor %}
            </ul>

            <div class="dropdown"> <!-- drop down menu for mobile view -->
                <button class="dropbtn">Categories ></button>
                <div class="dropdown-content">
                    {% for category in categories %}
                        <a href="{% url 'blog:post_list' %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- content div ends here -->
{% endblock %}

{% block foot-home %}<a href="{% url "blog:home_page_index" %}" class = "selected">Home</a>{% endblock %}