{% extends "blog/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-list.css"%}">
{% endblock %}

{% block content %}

    <div id = "content"> <!-- main contents of page -->
            <h2> {{ category }}</h2>
            <div id = "all-poems">  <!-- all poems listed below-->

                {% for poem in poems  %}
                    {% if poem.category == category %}
                         <div class = "poem"> <!-- contains details about a single poem -->
                         {% if request.session.username %}
                            <a href = "#" class = "btn"><button type = "button" class = "upvote"> Upvote</button></a>
                            <a href = "#"  class = "btn"><button type = "button" class = "downvote"> Downvote</button></a>
                         {% endif %}
                        <div class = "votes">{{poem.score}}</div>
                        <h3 class = "poem-title"><a href = "{% url "blog:details" category poem.id %}">{{poem.title}}</a></h3>
                        <p class = "poem-description">
                            {% for line in poem.description|slice:":3" %}
                                {{ line }} <br>
                            {% endfor %}
                        </p>
                        </div>
                    {% endif %}
                {% endfor  %}

            </div>
        </div> <!-- content div ends here -->

{% endblock %}