{% extends "blog/base.html" %}
{% load humanize %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-list.css"%}">
{% endblock %}

{% block content %}

    <div id = "content"> <!-- main contents of page -->
            <h2> {{ category }}</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id = "all-poems">  <!-- all poems listed below-->
                {% if not messages %}
                    <form action = {% url "blog:post_list" category "score" %}> <!-- Button for user to sort by scores! -->
                        <button type = "submit">Sort by score!</button>
                    </form>
                {% endif %}
                {% for poem in poems  %}
                    {% if poem.category_id == category %}
                        <form id = "delete-post" name = "delete-post" action = "{% url "blog:post_list" category %}" method = "post">
                            {% csrf_token %}
                                 <div class = "poem"> <!-- contains details about a single poem -->
                                     {% if request.session.username == 'admin' %}
                                             <button type="submit" name="delete-poem" value="{{ poem.id }}" onclick='return window.confirm("Are you sure you want to delete?");'>Delete</button>
                                     {% endif %}
                                     {% if request.session.username %}
                                        <a href = "#" class = "btn"><button type = "button" class = "upvote" data-poem-id = "{{ poem.id }}" data-action = "upvote" data-ajax-url = "{% url "blog:poems-vote" category %}"> Upvote</button></a>
                                        <a href = "#"  class = "btn"><button type = "button" class = "downvote" data-poem-id = "{{ poem.id }}" data-action = "downvote" data-ajax-url = "{% url "blog:poems-vote" category %}"> Downvote</button></a>
                                     {% endif %}
                                     <button type = "button" class ="show-poem" data-poem-id = "{{ poem.id }}" data-ajax-url="{% url 'blog:show-poem' category %}">Show entire poem!</button>
                                    <div class = "votes">{{poem.score}}</div>
                                    <h3 class = "poem-title"><a href = "{% url "blog:details" category poem.id %}">{{poem.title}}</a></h3>
                                     <p style="color:deepskyblue; font-size: smaller; font-family:Arial">  Posted by {{ poem.author }} <br> {{ poem.date|naturaltime }} </p>
                                    <p class = "poem-description">
                                        <br> {{ poem.description|linebreaksbr|truncatechars:50}}
                                    </p>
                                </div>
                        </form>
                    {% endif %}
                {% endfor  %}

            </div>s
        </div> <!-- content div ends here -->

{% endblock %}