{% extends "blog/base.html" %}

{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-details.css"%}">
{% endblock %}

{% block content %}

    <div id = "content">
            <div class = "poem">  <!-- contains details about a single poem -->
                <h2 class = "poem-title"> {{ poem.title}} </h2>
                <p class = "poem-description">
                    {% for line in poem.description %}
                            {{ line }} <br>
                    {% endfor %}
                </p>
            </div>

            <div id = "suggestions"> <!-- all suggestions for next line -->
                <h2 class ="user-suggestions">Suggestions for Next Line </h2>

                {% if suggestions|length == 0 %}
                    <div class="suggestion">
                        <p> No suggestions yet! </p>
                    </div>
                {% endif %}

                {% for suggestion in  suggestions %}
                    <div class = "suggestion">

                            <a href = "#" class = "btn"><button type = "button" class = "upvote"> Upvote</button></a>
                            <a href = "#" class = "btn"><button type = "button" class = "downvote"> Downvote</button></a>
                        <div class = "votes">{{ suggestion.score }}</div>
                        <p>{{ suggestion.line }}</p>
                    </div>
                {% endfor %}
            </div>

            {% block add_suggestion %}<form action = {% url "blog:details2" category poem.id %}> <!-- Button for user to add suggestion -->
            {% if request.session.username %}
                <button type = "submit">Add suggestion!</button>
                </form>
            {% endif %}
            {% endblock %}
        </div> <!-- content div ends here -->

{% endblock %}