{% extends "blog/details/details.html" %}

{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-details2.css"%}">
{% endblock %}
               {% block add_suggestion %}
                   {% if request.session.username %}
                    <form id = "suggestion-form">  <!-- user suggestion -->
                        <input type = "text"  id = "new-suggestion" name = "new-suggestion" class = "post">
                        <input type = "button" class = "post" id = "cancel" name = "cancel" value = "Cancel">
                        <input type = "button" id = "add" class = "post" name = "add" value = "Add" data-poem-id = "{{ poem.id }}" data-ajax-url = "{% url 'blog:add-suggestion' %}" >
                    </form>
                   {% endif %}
               {% endblock %}
