{% extends "blog/base.html" %}
{% load humanize %}

{% load static %}


{% block styles %}
    <link rel="stylesheet" type = "text/css" href="{% static "css/responsive-details.css"%}">
{% endblock %}

{% block content %}

    <div id = "content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class = "poem">  <!-- contains details about a single poem -->
                <h2 class = "poem-title"> {{ poem.title}} </h2>
                 <p class = "meta">  Posted by {{ poem.author }} <br> {{ poem.date|naturaltime }} </p>
                 {% if request.session.username == poem.author %}
                     <form action = {% url "blog:edit-post" category poem.id %}>
                       ><button type = "submit" class = "edit"> Edit</button>
                     </form>
                {% endif %}
                <p class = "poem-description">
                    {{ poem.description|linebreaksbr}}
                </p>
                <form action = {% url "blog:post_list" category %}> <!-- Button for user to sort by scores! -->
                        <button type = "submit">Back to {{ category }}</button>
                </form>
            </div>

            <div id = "suggestions"> <!-- all suggestions for next line -->
                <h2 class ="user-suggestions">Suggestions for Next Line </h2>

                {% if suggestions|length == 0 %}
                    <div class="suggestion">
                        <p> No suggestions yet! </p>
                    </div>
                {% endif %}

                {% for suggestion in  suggestions %}
                    <div class = "suggestion">
                        {% if request.session.username %}
                            <a href = "#" class = "btn"><button type = "button" class = "upvote" data-suggestion-id = "{{ suggestion.id }}" data-action = "upvote" data-ajax-url = "{% url "blog:suggestions-vote" category poem.id %}"> Upvote</button></a>
                            <a href = "#" class = "btn"><button type = "button" class = "downvote"  data-suggestion-id = "{{ suggestion.id }}"  data-action = "downvote" data-ajax-url = "{% url "blog:suggestions-vote" category poem.id %}"> Downvote</button></a>
                        {% endif %}
                        <div class = "votes">{{ suggestion.score }}</div>
                        <p>{{ suggestion.line }}</p>
                        <p style = "font-size: smaller; color: deepskyblue"> {{ suggestion.date|naturaltime }}</p>
                    </div>
                {% endfor %}
            </div>

            {% if request.session.username %}
                {% block add_suggestion %}<form action = {% url "blog:details2" category poem.id %}> <!-- Button for user to add suggestion -->
                    <button type = "submit">Add suggestion!</button>
                </form>
                {% endblock %}
            {% endif %}
        </div> <!-- content div ends here -->

{% endblock %}